.idea
codes/.idea
codes/.gitignore
codes/.DS_store

deploy/
**/*.log
**/*.md
**/.scannerwork
**/prisma-cloud-scan-results*.json

**/Thumbs.db
**/.DS_store

**/.fleet
**/.idea
**/.vscode
**/*.code-workspace
**/*.sublime-workspace
